---
import { type CollectionEntry, getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import TagList from './TagList.astro'

import { getTranslation } from '../i18n' // <-- dostosuj ścieżkę
import { DEFAULT_LOCALE } from '../i18n/locales' // <-- dostosuj ścieżkę

type Props = {
  post: CollectionEntry<'recipes'>
  hrefPrefix: string
}

const { post, hrefPrefix } = Astro.props

const author = await getEntry('authors', String(post.data.author).trim())

const locales = ['en', 'pl', 'de'] as const
const defaultLocale = 'en'
type Locale = (typeof locales)[number]

const currentLocale: Locale = (Astro.currentLocale ?? defaultLocale) as Locale
const t = getTranslation(currentLocale)

// klucz autora z przepisu
const authorKey = String(post.data.author).trim()

// tłumaczona nazwa autora (fallback na author.data.name)
type AuthorKey = "book-recipe" | "traditional-recipe";

function isAuthorKey(x: string): x is AuthorKey {
  return x === "book-recipe" || x === "traditional-recipe";
}

const authorKeyRaw = String(post.data.author).trim();

const authorLabel =
  isAuthorKey(authorKeyRaw) ? t.authors[authorKeyRaw] : (author?.data.name ?? authorKeyRaw);
  
// linki
const cleanRecipeSlug = post.slug.replace(/^(en|pl|de)\//, '')
const recipeHref = `${hrefPrefix}/recipe/${cleanRecipeSlug}`
const authorHref = author ? `${hrefPrefix}/author/${author.slug}` : null
---

<article>
  <a href={recipeHref} aria-label={`Read more about ${post.data.title}`}>
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={600}
      height={600 / 1.5}
      format='webp'
      class='aspect-thumbnail mb-6 rounded-2xl object-cover shadow-xl'
    />
  </a>

  <div class='mb-4'>
    <TagList tags={post.data.tags} />
  </div>

  <a href={recipeHref} class='mb-4 inline-block text-4xl font-semibold text-zinc-900'>
    {post.data.title}
  </a>

  <p class='mb-9 line-clamp-2 text-2xl text-zinc-500'>
    {post.data.description}
  </p>

  <div class='flex items-center justify-between'>
    {
      authorHref ? (
        <a href={authorHref} class='text-2xl font-bold text-zinc-900'>
          {authorLabel}
        </a>
      ) : (
        <span class='text-2xl font-bold text-zinc-900'>{authorLabel}</span>
      )
    }

    <span class='text-xl text-zinc-700'>{post.data.date}</span>
  </div>
</article>
